html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
*{
  font-family: "Wotfard";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.button {
color: #ffffff;
background-color: #00000095;
border-radius: 50px;
cursor: pointer;
width: 100%; 
height: 100%;
text-transform: uppercase;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: center;
margin: 0;
padding: 0;
z-index: 1000;
transition: all .5s ease-in-out;
}
.button p{
  margin: 5%;
}
.plus{
  font-size: 200%;
}
.notes-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2%;
}
.notes-nav-top{
  flex: 1 1 10%;
  width: 100%;
  max-height: 50px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 10%;
  border-radius: 50px;
}
.new-note{
  flex: 3 1 auto;
  border-radius: 50px;
}
.past-notes{
flex: 6 1 auto;
border-radius: 50px;
}
.search-notes{
  flex: 1 1 auto;
  border-radius: 50px;
}
.notes-text-label{
  display: none;
}
#notes-text {
  flex: 1 1 100%;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  margin: 2%;
  resize: none;
  align-self: center;
  border-radius: 20px;
  padding: 2%;
  font-size: 100%;
  z-index: 1;
  outline: #00000029 solid 3px;
}
.notes-nav-bottom{
  flex: 1 1 10%;
  width: 100%;
  max-height: 50px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 10%;
  border-radius: 50px;
}
.share-notes {
  flex: 1 1 auto;
  border-radius: 50px;
}
.more-notes{
  flex: 3 1 auto;
  border-radius: 50px;
}
.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  z-index: 5;
  padding: 0;
  margin: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 2px 0px 80px -47px rgba(0,0,0,1);
-moz-box-shadow: inset 2px 0px 80px -47px rgba(0,0,0,1);
box-shadow: inset 2px 0px 80px -47px rgba(0,0,0,1);
}
.modal-content{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-center{
  margin: 0;
  padding: 0;
  height: 85%;
  width: 85%;
  border-radius: 50px;
  position: relative;
  display: grid;
  grid-template-areas: 
  "modal-options modal-space";
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;/*makes it so the child elements don't overflow the parent border radius*/ 
}
.modal-selectons{
  z-index: 15;
}
.modal-options{
  grid-area: modal-options;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13%;
  align-items: flex-start;
  height: 100%;
  padding: 0 5% 0 15%;
  margin: 0;
}
.modal-options li{
  font-size: 150%;
  color: white;
  font-weight: 800;
  display: flex;
}
.modal-space{
  grid-area: modal-space;
  padding: 0;
  margin: 0;
}
#more-themes-container{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}
#more-themes{
  height: 75%;
  width: 90%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 10%;
  margin-top: 10%;
}
#themes{
  flex: 2 1 100%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  overflow: hidden;
}
.theme-box{
  width: 33.334%;
  height: 33.334%;
-webkit-box-shadow: inset 2px 0px 80px -47px rgba(0,0,0,1);
-moz-box-shadow: inset 2px 0px 80px -47px rgba(0,0,0,1);
box-shadow: inset 2px 0px 80px -47px rgba(0,0,0,1);
cursor: pointer;
}
.theme-box:hover{
  -webkit-box-shadow: inset 2px 0px 80px -47px rgba(0,0,0,0);
-moz-box-shadow: inset 2px 0px 80px -47px rgba(0,0,0,0);
box-shadow: inset 2px 0px 80px -47px rgba(0,0,0,0);
}
/*Color 1*/
.theme1 {
  background: rgb(131,58,180);
background: -moz-linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
}
/*Color 2*/
.theme2{
  background: rgb(238,174,202);
background: -moz-linear-gradient(45deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: linear-gradient(45deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}
/*Color 3*/
.theme3 {
  background: rgb(34,193,195);
background: -moz-linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
}
/*Color 4*/
.theme4{
  background: rgb(198,255,221);
  background: -moz-linear-gradient(45deg, rgba(198,255,221,1) 0%, rgba(247,121,125,1) 50%, rgba(252,176,69,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(198,255,221,1) 0%, rgba(247,121,125,1) 50%, rgba(252,176,69,1) 100%);
  background: linear-gradient(45deg, rgba(198,255,221,1) 0%, rgba(247,121,125,1) 50%, rgba(252,176,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6ffdd",endColorstr="#fcb045",GradientType=1);
}
/*Color 5*/
.theme5{
  background: #a7cfdf;
  background: -moz-linear-gradient(45deg,  #a7cfdf 0%, #002249 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#a7cfdf), color-stop(100%,#002249));
  background: -webkit-linear-gradient(45deg,  #a7cfdf 0%,#002249 100%);
  background: -o-linear-gradient(45deg,  #a7cfdf 0%,#002249 100%);
  background: -ms-linear-gradient(45deg,  #a7cfdf 0%,#002249 100%);
  background: linear-gradient(45deg,  #a7cfdf 0%,#002249 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#002249',GradientType=1);
}
/*Color 6*/
.theme6{
background: rgb(51,51,51);
background: -moz-linear-gradient(45deg, rgba(51,51,51,1) 0%, rgba(221,24,24,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(51,51,51,1) 0%, rgba(221,24,24,1) 100%);
background: linear-gradient(45deg, rgba(51,51,51,1) 0%, rgba(221,24,24,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333",endColorstr="#dd1818",GradientType=1);
}
/*Color 7*/
.theme7{
  background: rgb(147,147,147);
  background: -moz-linear-gradient(45deg, rgba(147,147,147,1) 0%, rgba(103,103,103,1) 38%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(147,147,147,1) 0%, rgba(103,103,103,1) 38%, rgba(0,0,0,1) 100%);
  background: linear-gradient(45deg, rgba(147,147,147,1) 0%, rgba(103,103,103,1) 38%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#939393",endColorstr="#000000",GradientType=1);
}
/*Color 8*/
.theme8{
  background: rgb(11,72,107);
  background: -moz-linear-gradient(45deg, rgba(11,72,107,1) 0%, rgba(245,98,23,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(11,72,107,1) 0%, rgba(245,98,23,1) 100%);
  background: linear-gradient(45deg, rgba(11,72,107,1) 0%, rgba(245,98,23,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b486b",endColorstr="#f56217",GradientType=1);
}
/*Color 9*/
.theme9{
  background: rgb(69,162,71);
  background: -moz-linear-gradient(45deg, rgba(69,162,71,1) 0%, rgba(40,60,134,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(69,162,71,1) 0%, rgba(40,60,134,1) 100%);
  background: linear-gradient(45deg, rgba(69,162,71,1) 0%, rgba(40,60,134,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#45a247",endColorstr="#283c86",GradientType=1);
}
#more-fonts-container{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#more-fonts{
  height: 75%;
  width:90%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 5%;
  margin-top: 10%;
}
#fonts{
  flex: 2 1 100%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  overflow: hidden;
}
.font-box{
  width: 33.334%;
  height: 33.334%;
  border-radius:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  cursor: pointer;
}
#font1{
  font-family: 'Sono';
  background-color: #ffffff60;
}
#font2{
  font-family: 'Bariol';
  background-color: #bebebe60;
}
#font3{
  font-family: 'Inter';
  background-color: #8d8c8c60;
}
#font4{
  font-family: 'DM Mono';
  background-color: #bebebe60;
}
#font5{
  font-family: 'Wotfard';
  background-color: #bebebe60;
}
#font6{
  font-family: 'M Plus';
  background-color: #8d8c8c60;
}
#font7{
  font-family: 'Coda Caption';
  background-color: #8d8c8c60;
}
#font8{
  font-family: 'Coda Caption';
  background-color: #8d8c8c60;
}
#font9{
  font-family: 'Coda Caption';
  background-color: #8d8c8c60;
}
.modal-space-header{
  color: white;
  margin: 0;
  padding: 0;
  border-radius: 50px;
  text-align: center;
  flex: 1 1 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 30px;
}

.exit-container{
  position: absolute;
  width: 15%;
  height: 15%;
  right: 0;
  top: 0;
  border-radius: 0 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #ffffffd2;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.modal-exit{
  position: relative;
  filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(7351%) hue-rotate(14deg) brightness(112%) contrast(121%);
  width: 75%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  -webkit-animation: heartbeat 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite ;
	animation: heartbeat 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite;
}
.effect-glass {
  background-color: #00000054;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite ;
	        animation: heartbeat 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite ;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-12-8 13:29:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for modal info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.panBackground {
  -webkit-animation: panBackground 7s infinite linear;
  animation: panBackground 7s infinite linear;
  background-size: 450%, 450%;
}
@keyframes panBackground {
  0% {
    background-position: 50% 50%;
  }
  5% {
    background-position: 30% 50%;
  }
  10% {
    background-position: 20% 50%;
  }
  15% {
    background-position: 10% 50%;
  }
  20% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 10% 50%;
  }
  30% {
    background-position: 20% 50%;
  }
  35% {
    background-position: 30% 50%;
  }
  40% {
    background-position: 40% 50%;
  }
  45% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 60% 50%;
  }
  55% {
    background-position: 70% 50%;
  }
  60% {
    background-position: 80% 50%;
  }
  65% {
    background-position: 90% 50%;
  }
  70% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 90% 50%;
  }
  80% {
    background-position: 80% 50%;
  }
  85% {
    background-position: 70% 50%;
  }
  90% {
    background-position: 60% 50%;
  }
  95% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}
@font-face {
  font-family: "Bariol";
  src: url('fonts/Bariol_Serif_Regular.otf') format('opentype');
}
@font-face {
  font-family: "Wotfard";
  src: url('fonts/Wotfard-Regular.otf') format('opentype');
}
@font-face{
font-family: "Inter";
src: url('fonts/Inter-VariableFont_slnt\,wght.ttf');
}
@font-face{
  font-family: "Sono";
  src: url('fonts/Sono-VariableFont_MONO\,wght.ttf')
}
@font-face{
  font-family: "DM  Mono";
  src: url('fonts/DMMono-Regular.ttf')
}
@font-face{
  font-family: "M PLUS";
  src: url('fonts/MPLUSCodeLatin-VariableFont_wdth\,wght.ttf')
}